body {
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    background-color: #f5efed;
    text-align: center;
}

.login-form {
    border: 3px solid #f1f1f1;
    background-color:#F3CEC2 ;
    width: 50%;
    height: 80%;
    display: inline-block;
    border-radius: 10px;
}

/* center text */
h2 {
    text-align: center;
}

.container-login input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #F3CEC2;
  border-bottom-style: groove;
  box-sizing: border-box;
}

.login {
  background-color: #F00505;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.login:hover {
  background-color: #aa0404;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 30%;
  border-radius: 20%;
}

.container-login {
  padding: 16px;
}




/* register form */

* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border-bottom-style: groove;
  background: #F3CEC2;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #f3cec2;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #b1beb9;
  color: white;
  padding: 14px 20px;
  margin: 8px 8px;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.signup1{
    width: 50%;
    padding: 14px 20px;
    background-color: #cb5959;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #F5EFED;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #F3CEC2;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #F3CEC2;
  border-radius: 40px;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #F3CEC2;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #F00505;
}

.close:hover,
.close:focus {
  color: #700f90;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}